@page "/myprojects"
@inject HttpClient Http
@using System.Text.Json.Serialization;

<PageTitle>My Projects</PageTitle>
<br>
<h2>CS projects on: Data Structures, Algorithms, Object Oriented Programming, Full Stack Web Development, Database Systems,
    Operating Systems, Distributed Systems, Computer Networking, Security Systems, Machine Learning, and Artificial Intelligence</h2>
<br>
<p>&#64;author: 10adnan75</p>
<br>
@if (myprojects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Index</th>
                <th>Title</th>
                <th>Link</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in myprojects)
            {
                <tr>
                    <td>@project.Index</td>
                    <td>@project.Title</td>
                    <td><a href="@project.Link" target='_blank'>Click here</a></td>
                    <td>@project.Description</td>
                    <td>@project.Date.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code 
{
    private Project[]? myprojects;

    protected override async Task OnInitializedAsync()
    {
        myprojects = await Http.GetFromJsonAsync<Project[]>("sample-data/project.json");
    }

    public class Project
    {
        [JsonPropertyName("index")]
        public int Index { get; set; }
    
        [JsonPropertyName("title")]
        public string? Title { get; set; }
    
        [JsonPropertyName("description")]
        public string? Description { get; set; }
    
        [JsonPropertyName("link")]
        public string? Link { get; set; }
    
        [JsonPropertyName("date")]
        public DateTime Date { get; set; }
    }
}
